# mac file
.DS_Store

# configuration file
.vscode/

# raw data
*.gz
*.fastq
*.zip
sample_data/
TADs_data_zipped/

# reference genome
dm6.fa

# genome index
dm6/

# fanc examples
examples/
examples.zip

# temp files
error.txt

